In [1]:
import pandas as pd
import numpy as np
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [3]:
column_names = ["user_id","item_id","rating","timestamp"]
df = pd.read_csv("ml-100k/u.data",sep = "\t",names = column_names)

In [4]:
movies_titles = pd.read_csv("ml-100k/u.item",sep = "\|",header = None)

In [5]:
movies_titles = movies_titles[[0,1]]

In [6]:
movies_titles.columns = ['item_id','title']

In [7]:
df = pd.merge(df,movies_titles,on = 'item_id')

In [8]:
#exploratory data analysis
ratings = pd.DataFrame(df.groupby('title').mean()['rating'])

In [9]:
ratings['num of ratings'] = pd.DataFrame(df.groupby('title').count()['rating'])

In [10]:
#creating recommendation system
moviemat = df.pivot_table(index = 'user_id',columns = 'title',values = 'rating')

In [18]:
#Predict Movies
def predict_movies(movie_name):
    movie_user_rating = moviemat[movie_name]
    #finding correlation
    similar_to_movie = moviemat.corrwith(movie_user_rating)
    corr_movie = pd.DataFrame(similar_to_movie,columns = ['Correlation'])
    corr_movie.dropna(inplace = True)#dropping missing values
    corr_movie = corr_movie.join(ratings['num of ratings'])#join the datasets
    predictions = corr_movie[corr_movie['num of ratings']>100].sort_values('Correlation',ascending = False)
    return predictions

In [20]:
#example
predict_movies('Star Wars (1977)')

,Correlation,num of ratings
title,,
Star Wars (1977),1.000000,583
"Empire Strikes Back, The (1980)",0.747981,367
Return of the Jedi (1983),0.672556,507
Raiders of the Lost Ark (1981),0.536117,420
Austin Powers: International Man of Mystery (1997),0.377433,130
...,...,...
"Edge, The (1997)",-0.127167,113
As Good As It Gets (1997),-0.130466,112
Crash (1996),-0.148507,128
G.I. Jane (1997),-0.176734,175
"First Wives Club, The (1996)",-0.194496,160